:root {
  --color-background: #20202C;
  --color-text: #ffffff;
  --color-detail-text: #151419;
  --color-text-secondary: #605F76;
  --color-border: #fff;
  --color-success: #A7E521;
  --color-info: #03C3EC;
  --color-alert: #FFD422;
  --color-error: #EF3F26;

  --zIndex-overlay: 1;
  --zIndex-popup: 10;
}

html, body {
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

